In [7]:
import pandas as pd
df=pd.read_csv("titanic 1.csv")
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [8]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis="columns",inplace=True)
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [30]:
target=df.Survived
inputs=df.drop('Survived',axis="columns")

In [31]:
dummies=pd.get_dummies(inputs.Sex)
dummies.head(3)

   female   male
0   False   True
1    True  False
2    True  False

In [32]:
inputs=pd.concat([inputs,dummies],axis="columns")
inputs.head(3)

   Pclass     Sex   Age     Fare  female   male
0       3    male  22.0   7.2500   False   True
1       1  female  38.0  71.2833    True  False
2       3  female  26.0   7.9250    True  False

In [33]:
inputs.drop(['Sex'],axis='columns',inplace=True)
inputs.head(3)

   Pclass   Age     Fare  female   male
0       3  22.0   7.2500   False   True
1       1  38.0  71.2833    True  False
2       3  26.0   7.9250    True  False

In [34]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [35]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [37]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.head(6)

   Pclass        Age     Fare  female   male
0       3  22.000000   7.2500   False   True
1       1  38.000000  71.2833    True  False
2       3  26.000000   7.9250    True  False
3       1  35.000000  53.1000    True  False
4       3  35.000000   8.0500   False   True
5       3  29.699118   8.4583   False   True

In [39]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.2)

In [40]:
len(X_train)

712

In [41]:
len(X_test)

179

In [42]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [43]:
model.fit(X_train,y_train)

GaussianNB()

In [44]:
model.score(X_test,y_test)

0.7988826815642458

In [45]:
X_test[:10]

     Pclass        Age      Fare  female   male
195       1  58.000000  146.5208    True  False
279       3  35.000000   20.2500    True  False
286       3  30.000000    9.5000   False   True
310       1  24.000000   83.1583    True  False
535       2   7.000000   26.2500    True  False
227       3  20.500000    7.2500   False   True
132       3  47.000000   14.5000    True  False
409       3  29.699118   25.4667    True  False
757       2  18.000000   11.5000   False   True
84        2  17.000000   10.5000    True  False

In [46]:
y_test[:10]

195    1
279    1
286    1
310    1
535    1
227    0
132    0
409    0
757    0
84     1
Name: Survived, dtype: int64

In [48]:
model.predict(X_test[:10])

array([1, 1, 0, 1, 1, 0, 1, 1, 0, 1], dtype=int64)

In [49]:
model.predict_proba(X_test[:10])

array([[8.63973222e-06, 9.99991360e-01],
       [8.85470666e-02, 9.11452933e-01],
       [9.90198592e-01, 9.80140811e-03],
       [1.59172643e-03, 9.98408274e-01],
       [2.24862271e-02, 9.77513773e-01],
       [9.88314104e-01, 1.16858959e-02],
       [8.99805252e-02, 9.10019475e-01],
       [8.20516743e-02, 9.17948326e-01],
       [9.73558661e-01, 2.64413385e-02],
       [3.14883451e-02, 9.68511655e-01]])